* {
margin: 0;
padding: 0;
border: 0;
outline: 0;
text-decoration: none;
list-style: none;
box-sizing: border-box;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

.heading, .clients .section-header h2, .section-head h1, .section-header h2, .section-head-1 h4{
    margin: 2rem;
    padding-top: 6rem;
    display: inline-block;
    font-size: 2rem;
    color: #3d4040;
    position: relative;
    letter-spacing: .2rem;
}

.heading::before, .heading::after, .clients .section-header h2::before, .clients .section-header h2::after, .section-head h1::before, .section-head h1::after, .section-header h2::before, .section-header h2::after, .section-head-1 h4::before, .section-head-1 h4::after{
    content: '';
    position: absolute;
    height: 2.5rem;
    width: 2.5rem;
    border-top: .4rem solid #3d4040;
    border-left: .4rem solid #3d4040;
}

.heading::before, .clients .section-header h2::before, .section-head h1::before,  .section-header h2::before, .section-head-1 h4::before{
    top: 5rem;
    left: -2rem;
}

.heading::after, .clients .section-header h2::after, .section-head h1::after,  .section-header h2::after, .section-head-1 h4::after{
    bottom: -.5rem;
    right: -2rem;
    transform: rotate(180deg);
}

.row .btn{
    outline: none;
    border: none;
    border-radius: 5rem;
    background: white;
    border-style: groove;
    border-color: #002e5f;
    font-size: 1rem;
    cursor: pointer;
    height: 3rem;
    width: 10rem;
    box-shadow: 0 .2rem .5rem rgba(0,0,0,.3);
}

.communicate .btn{
    outline: none;
    border: none;
    border-radius: 5rem;
    background: white;
    border-style: groove;
    border-color: #002e5f;
    font-size: 1rem;
    cursor: pointer;
    height: 3rem;
    width: 12rem;
    box-shadow: 0 .2rem .5rem rgba(0,0,0,.3);
}

.row .btn:hover{
    letter-spacing: .1rem;
    opacity: .9;
    color: white;
    background: #002e5f;
}

.communicate .btn:hover{
    letter-spacing: .1rem;
    opacity: .9;
    color: white;
    background: #002e5f;
}

html, body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden !important;
}

body{
    font-family: 'Poppins', sans-serif;
    line-height: 1.7;
    color: #fff;
    background: #fff;
    animation: jumpIn 1s ease-out;

}

/* LOGIN MODAL BACKGROUND */
.login-modal{
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  z-index: 3000;
  align-items: center;
  justify-content: center;
}

/* LOGIN BOX */
.login-box{
  background: #fff;
  width: 380px;
  padding: 30px;
  border-radius: 15px;
  text-align: center;
  position: relative;
  animation: slideDown 0.4s ease;
  font-family: 'Poppins', sans-serif;
}

/* ANIMATION */
@keyframes slideDown{
  from{
    transform: translateY(-40px);
    opacity: 0;
  }
  to{
    transform: translateY(0);
    opacity: 1;
  }
}

.login-box h2,
.login-box p {
  color: #000;
}

/* CLOSE BUTTON */
.close-btn{
  position: absolute;
  top: 15px;
  right: 18px;
  font-size: 24px;
  cursor: pointer;
  color: #000;
}

/* INPUTS */
.login-box input{
  width: 100%;
  padding: 12px 15px;
  margin: 15px 0;
  border-radius: 30px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 14px;
}

.password-field{
  position: relative;
}

.password-field input{
  padding-right: 45px;
}

.toggle-eye{
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 18px;
  color: #555;
}

.toggle-eye:hover{
  color: #002e5f;
}


/* LOGIN BUTTON */
.login-submit{
  width: 100%;
  padding: 12px;
  border-radius: 30px;
  border: none;
  background: #002e5f;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.login-submit:hover{
  background: #000;
}

.switch-text{
  margin-top: 15px;
  font-size: 14px;
}

.switch-text a{
  color: #002e5f;
  cursor: pointer;
  font-weight: 500;
  text-decoration: none;
}

.switch-text a:hover{
  text-decoration: underline;
}

/* ===============================
   HEADER
================================ */
header{
  width: 100%;
  z-index: 1000;
}

.navbar{
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 60px;
  padding: 0 20px;

  background: #fff;
  z-index: 2000;

  display: flex;
  align-items: center;
}

/* LOGO + BURGER ROW */
.nav__header{
  display: flex;
  align-items: center;
}

/* LOGO */
.logo-img{
  width: 150px;
}

/* BURGER */
.nav__menu__btn{
  display: none;
  cursor: pointer;

  position: relative;
  z-index: 3000; 
  color: #000;
}

.nav__menu__btn i{
  font-size: 24px;
}

/* NAV LINKS DESKTOP */
.nav__links{
  display: flex;
  gap: 30px;
  align-items: center;
  margin-left: auto;
}

.nav__links li a{
    color: #000;
}

/* MOBILE */
@media (max-width: 768px){
    .nav__header{
  display: flex;
  align-items: center;
  width: 100%;
}

 .nav__menu__btn{
    display: block;       
    margin-left: auto;   
  }

  .nav__menu__btn i {
    font-size: 34px;
  }

  .logo-img{
  width: 150px;
}

  .nav__links li {
  list-style: none;
  font-size: 24px;
}

.nav__links a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
  transition: 0.3s;
}

.arrow{
  cursor: pointer;
  transition: 0.3s;
  color: #000;
}

  .nav__links{
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;

    background: #99AD98;
    flex-direction: column;
    padding: 20px;

    display: none;
    z-index: 1500;         /* BELOW BURGER */
  }

  .nav__links.open{
    display: flex;
  }

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 180px;
  display: none;
  flex-direction: column;

  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
  padding: 0;
  margin: 0;
}

.dropdown-menu.show {
  display: block;
}

.dropdown-menu li {
  list-style: none;
  margin: 6px 0;
}

  .dropdown-menu li a {
  padding: 12px 15px;
  display: block;
  color: #000;
  background: #fff;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 8px 18px rgba(0,0,0,0.25);
  transition: all 0.35s ease;
}

.dropdown-menu li a:hover {
  background: linear-gradient(135deg, #6391b9, #1f3c55);
  color: #fff;
  text-decoration: none;
}
}

/* ===============================
   DROPDOWN
================================ */
.dropdown{
  display: flex;
  align-items: center;
  gap: 5px;
  position: relative;
}

.arrow{
  cursor: pointer;
  transition: 0.3s;
  color: #000;
}

.arrow.rotate{
  transform: rotate(180deg);
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 180px;
  display: none;
  flex-direction: column;

  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
  padding: 0;
  margin: 0;
}

.dropdown-menu.show {
  display: block;
}

.dropdown-menu li {
  list-style: none;
  margin: 6px 0;
}

.dropdown-menu li a {
  padding: 12px 15px;
  display: block;
  color: #000;
  background: #fff;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 8px 18px rgba(0,0,0,0.25);
  transition: all 0.35s ease;
}

.dropdown-menu li a:hover {
  background: linear-gradient(135deg, #6391b9, #1f3c55);
  color: #fff;
  text-decoration: none;
}

/* ===============================
   NAVBAR ON SCROLL
================================ */
.navbar.scrolled{
  background: #002e5f;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.navbar.scrolled .nav__links a,
.navbar.scrolled .arrow{
  color: #fff;
}

/* ===============================
   EXTRA SMALL (360px)
================================ */
@media (max-width: 360px){
    .nav__header{
  display: flex;
  align-items: center;
  width: 100%;
}

 .nav__menu__btn{
    display: block;       
    margin-left: auto;   
  }

  .nav__menu__btn i{
    font-size: 27px;
  }
  .nav__links li {
  list-style: none;
}

.nav__links a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
  transition: 0.3s;
  font-size: 15px;
}

.arrow{
  cursor: pointer;
  transition: 0.3s;
  color: #000;
}

  .nav__links{
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;

    background: #99AD98;
    flex-direction: column;
    padding: 20px;

    display: none;
    z-index: 1500;         /* BELOW BURGER */
  }

  .nav__links.open{
    display: flex;
  }
  
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 180px;
  display: none;
  flex-direction: column;

  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
  padding: 0;
  margin: 0;
}

.dropdown-menu.show {
  display: block;
}

.dropdown-menu li {
  list-style: none;
  margin: 6px 0;
}

  .dropdown-menu li a {
  padding: 12px 15px;
  display: block;
  color: #000;
  background: #fff;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 8px 18px rgba(0,0,0,0.25);
  transition: all 0.35s ease;
}

.dropdown-menu li a:hover {
  background: linear-gradient(135deg, #6391b9, #1f3c55);
  color: #fff;
  text-decoration: none;
}
}

.home{
    min-height: 100vh;
    width: 100vw;
    background-image: url(../images/img1.jpeg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
    padding: 0 1rem;
    position: relative;
    overflow: hidden !important;
}

.home h2{
    color: #fff;
    font-size: 4rem;
}

.home h3{
    color: #fff;
    font-size: 2rem;
}

.home .wave{
    position: absolute;
    bottom: -.5rem;
    left: 0;
    height: 11rem;
    width: 100%;
    background: url(../images/wave.png);
    background-size: 100rem 11rem;
    animation: waves 8s linear infinite;
    background-repeat: repeat-x;
}

.home .wave2{
    animation-direction: reverse;
    animation-duration: 6s;
    opacity: .3;
}

.home .wave3{
    animation-duration: 4s;
    opacity: .5;
}

@keyframes waves{
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: 100rem;
    }
}

@media (max-width: 360px){

  .home{
    min-height: 100vh;
    padding: 0 1rem;
    background-position: center;
  }

  .home h2{
    font-size: 2.4rem;   /* reduced for small screens */
    line-height: 1.2;
  }

  .home h3{
    font-size: 1.4rem;
    margin-top: 0.8rem;
    line-height: 1.3;
  }

  /* Waves smaller */
  .home .wave{
    height: 6rem;
    background-size: 60rem 6rem;
  }

}

/* CONTACT SECTION */
.contact-section {
  padding: 90px 20px;
  background: #ffffff;
  font-family: 'Poppins', sans-serif;
}

/* Header */
.contact-header {
  text-align: center;
  max-width: 700px;
  margin: 0 auto 60px;
}

.contact-header h2 {
  font-size: 36px;
  color: #184f8a;
  margin-bottom: 10px;
}

.contact-header p {
  font-size: 15px;
  color: #777;
  line-height: 1.6;
}

/* Grid */
.contact-info-grid {
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

/* Card */
.contact-card {
  text-align: center;
}

/* Icon */
.contact-icon {
  width: 70px;
  height: 70px;
  background: #184f8a;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 18px;
}

.contact-icon i {
  font-size: 22px;
  color: #fff;
}

/* Text */
.contact-card h4 {
  font-size: 16px;
  margin-bottom: 8px;
  color: #333;
}

.contact-card p {
  font-size: 14px;
  color: #777;
  line-height: 1.5;
}

/* Responsive */
@media (max-width: 900px) {
  .contact-info-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .contact-info-grid {
    grid-template-columns: 1fr;
  }
}

.field {
  width: 100%;
  position: relative;
}

.field input,
.field textarea {
  width: 100%;
}

.error {
  color: #e63946;
  font-size: 12px;
  margin-top: 4px;
  display: block;
}

input.error-border,
textarea.error-border {
  border: 2px solid #e63946;
}

/* CONTACT SECTION */
.contact-form-section {
  padding: 100px 20px;
  background: #ffffff;
  font-family: 'Poppins', sans-serif;
  margin-top: -100px;
}

/* Layout */
.contact-wrapper {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: 1.1fr 1fr;
  gap: 60px;
  align-items: center;
}

/* LEFT */
.contact-tag {
  position: relative;
  display: inline-block;
  padding: 10px 28px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 3px;
  color: #333;
  text-transform: uppercase;
}

/* Bracket corners */
.contact-tag::before,
.contact-tag::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border: 3px solid #333;
}

/* Top-left bracket */
.contact-tag::before {
  top: 0;
  left: 0;
  border-right: none;
  border-bottom: none;
}

/* Bottom-right bracket */
.contact-tag::after {
  bottom: 0;
  right: 0;
  border-left: none;
  border-top: none;
}

.contact-left h2 {
  font-size: 36px;
  margin: 12px 0;
  color: #000;
}

.contact-left p {
  font-size: 15px;
  color: #777;
  margin-bottom: 30px;
  line-height: 1.6;
}

/* Form */
.contact-form {
  background: #0b325c;
  padding: 30px;
  border-radius: 8px;
}

.form-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  margin-bottom: 15px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 12px 14px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  background: #fff;
}

.contact-form textarea {
  min-height: 120px;
  resize: none;
  margin-bottom: 20px;
}

.contact-form button {
  width: 100%;
  padding: 12px;
  background: #1a497b;
  border: none;
  color: #fff;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 25px 47px rgba(0, 0, 0, 0.50);
}

.contact-form button:hover {
  background: #fff;
  color: #000;
}

/* RIGHT IMAGE */
.contact-right {
  position: relative;
}

.image-box {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}

/* Image */
.image-box img {
  width: 100%;
  display: block;
  border-radius: 20px;
  margin-top: 40px;
}

/* Decorative dotted pattern */
.image-box::before {
  content: "";
  position: absolute;
  width: 90px;
  height: 90px;
  background-image: radial-gradient(#3aa6c1 2px, transparent 2px);
  background-size: 12px 12px;
  bottom: -30px;
  left: -30px;
  z-index: -1;
}

/* Decorative line pattern */
.image-box::after {
  content: "";
  position: absolute;
  width: 70px;
  height: 70px;
  top: -20px;
  right: -20px;
  background: repeating-linear-gradient(
    45deg,
    #d0eaf3,
    #d0eaf3 2px,
    transparent 2px,
    transparent 6px
  );
  z-index: -1;
}

.map-box {
  max-width: 1100px;
  height: 420px;
  margin: 80px auto;
  border-radius: 18px;
  overflow: hidden;
  background: #fff;

  /* modern dark shadow */
  box-shadow: 0 20px 45px rgba(0, 0, 0, 0.25);
}

.map-box iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

/* Responsive */
@media (max-width: 900px) {
  .contact-wrapper {
    grid-template-columns: 1fr;
  }

  .form-row {
    grid-template-columns: 1fr;
  }
}

/*FOOTER STYLE*/
.modern-footer{
  background:#184f8a;
  font-family:'Poppins', sans-serif;
  position:relative;
  overflow:hidden;
}

/* Main content */
.footer-content{
  width:85%;
  margin:auto;
  padding:70px 0 100px;
  display:grid;
  grid-template-columns:2fr 1fr 1fr 1fr 1fr;
  gap:50px;
}

/* Brand */
.footer-col.brand h2{
  font-size:26px;
  font-weight:700;
  margin-bottom:15px;
  color: #fff;
}

.footer-col.brand p{
  font-size:14px;
  line-height:1.7;
  color:#fff;
}

/* Headings */
.footer-col h4{
  font-size:16px;
  font-weight:600;
  margin-bottom:18px;
  color:#fff;
}

/* Links */
.footer-col ul{
  list-style:none;
  padding:0;
}

.footer-col ul li{
  margin-bottom:10px;
}

.footer-col ul li a{
  text-decoration:none;
  font-size:14px;
  color:#fff;
  transition:0.3s;
}

.footer-col ul li a:hover{
  color:#001831;
}

/* Social icons */
.social-icons{
  display:flex;
  gap:12px;
}

.social-icons a{
  width:42px;
  height:42px;
  background:#000;
  color:#fff;
  border-radius:50%;
  display:flex;
  align-items:center;
  justify-content:center;
  font-size:16px;
  transition:0.3s;
}

.social-icons a:hover{
  transform:translateY(-5px);
  background:#fff;
  color: #4267B2;
}

/* Curved bottom section */
.footer-bottom{
  background:#001831    ;
  height:90px;
  display:flex;
  align-items:center;
  justify-content:center;
  border-top-left-radius:100% 40px;
  border-top-right-radius:100% 40px;
}

.footer-bottom p{
  color:#fff;
  font-size:14px;
}

/* Responsive */
@media(max-width:992px){
  .footer-content{
    grid-template-columns:1fr 1fr;
  }
}

@media(max-width:576px){
  .footer-content{
    grid-template-columns:1fr;
    text-align:center;
  }

  .social-icons{
    justify-content:center;
  }
}

