* {
margin: 0;
padding: 0;
border: 0;
outline: 0;
text-decoration: none;
list-style: none;
box-sizing: border-box;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

.heading, .clients .section-header h2, .section-head h1, .section-header h2, .section-head-1 h4{
    margin: 2rem;
    padding-top: 6rem;
    display: inline-block;
    font-size: 2rem;
    color: #3d4040;
    position: relative;
    letter-spacing: .2rem;
}

.heading::before, .heading::after, .clients .section-header h2::before, .clients .section-header h2::after, .section-head h1::before, .section-head h1::after, .section-header h2::before, .section-header h2::after, .section-head-1 h4::before, .section-head-1 h4::after{
    content: '';
    position: absolute;
    height: 2.5rem;
    width: 2.5rem;
    border-top: .4rem solid #3d4040;
    border-left: .4rem solid #3d4040;
}

.heading::before, .clients .section-header h2::before, .section-head h1::before,  .section-header h2::before, .section-head-1 h4::before{
    top: 5rem;
    left: -2rem;
}

.heading::after, .clients .section-header h2::after, .section-head h1::after,  .section-header h2::after, .section-head-1 h4::after{
    bottom: -.5rem;
    right: -2rem;
    transform: rotate(180deg);
}

.row .btn{
    outline: none;
    border: none;
    border-radius: 5rem;
    background: white;
    border-style: groove;
    border-color: #002e5f;
    font-size: 1rem;
    cursor: pointer;
    height: 3rem;
    width: 10rem;
    box-shadow: 0 .2rem .5rem rgba(0,0,0,.3);
}

.communicate .btn{
    outline: none;
    border: none;
    border-radius: 5rem;
    background: white;
    border-style: groove;
    border-color: #002e5f;
    font-size: 1.5rem;
    cursor: pointer;
    height: 3.5rem;
    width: 15rem;
    box-shadow: 0 .2rem .5rem rgba(0,0,0,.3);
}

.row .btn:hover{
    letter-spacing: .1rem;
    opacity: .9;
    color: white;
    background: #002e5f;
}

.communicate .btn:hover{
    letter-spacing: .1rem;
    opacity: .9;
    color: white;
    background: #00bfff;
}

html, body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden !important;
}

body{
    font-family: 'Poppins', sans-serif;
    line-height: 1.7;
    color: #fff;
    background: #fff;
    animation: jumpIn 1s ease-out;

}

/* LOGIN MODAL BACKGROUND */
.login-modal{
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  z-index: 3000;
  align-items: center;
  justify-content: center;
}

/* LOGIN BOX */
.login-box{
  background: #fff;
  width: 380px;
  padding: 30px;
  border-radius: 15px;
  text-align: center;
  position: relative;
  animation: slideDown 0.4s ease;
  font-family: 'Poppins', sans-serif;
}

/* ANIMATION */
@keyframes slideDown{
  from{
    transform: translateY(-40px);
    opacity: 0;
  }
  to{
    transform: translateY(0);
    opacity: 1;
  }
}

/* CLOSE BUTTON */
.close-btn{
  position: absolute;
  top: 15px;
  right: 18px;
  font-size: 24px;
  cursor: pointer;
}

/* INPUTS */
.login-box input{
  width: 100%;
  padding: 12px 15px;
  margin: 15px 0;
  border-radius: 30px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 14px;
}

.password-field{
  position: relative;
}

.password-field input{
  padding-right: 45px;
}

.toggle-eye{
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 18px;
  color: #555;
}

.toggle-eye:hover{
  color: #002e5f;
}


/* LOGIN BUTTON */
.login-submit{
  width: 100%;
  padding: 12px;
  border-radius: 30px;
  border: none;
  background: #002e5f;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.login-submit:hover{
  background: #000;
}

.switch-text{
  margin-top: 15px;
  font-size: 14px;
}

.switch-text a{
  color: #002e5f;
  cursor: pointer;
  font-weight: 500;
  text-decoration: none;
}

.switch-text a:hover{
  text-decoration: underline;
}

/* ===============================
   HEADER
================================ */
header{
  width: 100%;
  z-index: 1000;
}

.navbar{
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 60px;
  padding: 0 20px;

  background: #fff;
  z-index: 2000;

  display: flex;
  align-items: center;
}

/* LOGO + BURGER ROW */
.nav__header{
  display: flex;
  align-items: center;
}

/* LOGO */
.logo-img{
  width: 150px;
}

/* BURGER */
.nav__menu__btn{
  display: none;
  cursor: pointer;

  position: relative;
  z-index: 3000; 
  color: #000;
}

.nav__menu__btn i{
  font-size: 24px;
}

/* NAV LINKS DESKTOP */
.nav__links{
  display: flex;
  gap: 30px;
  align-items: center;
  margin-left: auto;
}

.nav__links li a{
    color: #000;
}

/* MOBILE */
@media (max-width: 768px){
    .nav__header{
  display: flex;
  align-items: center;
  width: 100%;
}

 .nav__menu__btn{
    display: block;       
    margin-left: auto;   
  }

  .nav__menu__btn i {
    font-size: 34px;
  }

  .logo-img{
  width: 150px;
}

  .nav__links li {
  list-style: none;
  font-size: 24px;
}

.nav__links a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
  transition: 0.3s;
}

.arrow{
  cursor: pointer;
  transition: 0.3s;
  color: #000;
}

  .nav__links{
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;

    background: #99AD98;
    flex-direction: column;
    padding: 20px;

    display: none;
    z-index: 1500;         /* BELOW BURGER */
  }

  .nav__links.open{
    display: flex;
  }

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 180px;
  display: none;
  flex-direction: column;

  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
  padding: 0;
  margin: 0;
}

.dropdown-menu.show {
  display: block;
}

.dropdown-menu li {
  list-style: none;
  margin: 6px 0;
}

  .dropdown-menu li a {
  padding: 12px 15px;
  display: block;
  color: #000;
  background: #fff;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 8px 18px rgba(0,0,0,0.25);
  transition: all 0.35s ease;
}

.dropdown-menu li a:hover {
  background: linear-gradient(135deg, #6391b9, #1f3c55);
  color: #fff;
  text-decoration: none;
}
}

/* ===============================
   DROPDOWN
================================ */
.dropdown{
  display: flex;
  align-items: center;
  gap: 5px;
  position: relative;
}

.arrow{
  cursor: pointer;
  transition: 0.3s;
  color: #000;
}

.arrow.rotate{
  transform: rotate(180deg);
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 180px;
  display: none;
  flex-direction: column;

  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
  padding: 0;
  margin: 0;
}

.dropdown-menu.show {
  display: block;
}

.dropdown-menu li {
  list-style: none;
  margin: 6px 0;
}

.dropdown-menu li a {
  padding: 12px 15px;
  display: block;
  color: #000;
  background: #fff;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 8px 18px rgba(0,0,0,0.25);
  transition: all 0.35s ease;
}

.dropdown-menu li a:hover {
  background: linear-gradient(135deg, #6391b9, #1f3c55);
  color: #fff;
  text-decoration: none;
}

/* ===============================
   NAVBAR ON SCROLL
================================ */
.navbar.scrolled{
  background: #002e5f;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.navbar.scrolled .nav__links a,
.navbar.scrolled .arrow{
  color: #fff;
}

/* ===============================
   EXTRA SMALL (360px)
================================ */
@media (max-width: 360px){
    .nav__header{
  display: flex;
  align-items: center;
  width: 100%;
}

 .nav__menu__btn{
    display: block;       
    margin-left: auto;   
  }

  .nav__menu__btn i{
    font-size: 27px;
  }
  .nav__links li {
  list-style: none;
}

.nav__links a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
  transition: 0.3s;
  font-size: 15px;
}

.arrow{
  cursor: pointer;
  transition: 0.3s;
  color: #000;
}

  .nav__links{
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;

    background: #99AD98;
    flex-direction: column;
    padding: 20px;

    display: none;
    z-index: 1500;         /* BELOW BURGER */
  }

  .nav__links.open{
    display: flex;
  }
  
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 180px;
  display: none;
  flex-direction: column;

  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
  padding: 0;
  margin: 0;
}

.dropdown-menu.show {
  display: block;
}

.dropdown-menu li {
  list-style: none;
  margin: 6px 0;
}

  .dropdown-menu li a {
  padding: 12px 15px;
  display: block;
  color: #000;
  background: #fff;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 8px 18px rgba(0,0,0,0.25);
  transition: all 0.35s ease;
}

.dropdown-menu li a:hover {
  background: linear-gradient(135deg, #6391b9, #1f3c55);
  color: #fff;
  text-decoration: none;
}
}

.home{
    min-height: 100vh;
    width: 100vw;
    background-image: url(../images/img1.jpeg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
    padding: 0 1rem;
    position: relative;
    overflow: hidden !important;
}

.home h2{
    color: #fff;
    font-size: 4rem;
}

.home h3{
    color: #fff;
    font-size: 2rem;
}

.home .wave{
    position: absolute;
    bottom: -.5rem;
    left: 0;
    height: 11rem;
    width: 100%;
    background: url(../images/wave.png);
    background-size: 100rem 11rem;
    animation: waves 8s linear infinite;
    background-repeat: repeat-x;
}

.home .wave2{
    animation-direction: reverse;
    animation-duration: 6s;
    opacity: .3;
}

.home .wave3{
    animation-duration: 4s;
    opacity: .5;
}

@keyframes waves{
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: 100rem;
    }
}

@media (max-width: 360px){

  .home{
    min-height: 100vh;
    padding: 0 1rem;
    background-position: center;
  }

  .home h2{
    font-size: 2.4rem;   /* reduced for small screens */
    line-height: 1.2;
  }

  .home h3{
    font-size: 1.4rem;
    margin-top: 0.8rem;
    line-height: 1.3;
  }

  /* Waves smaller */
  .home .wave{
    height: 6rem;
    background-size: 60rem 6rem;
  }

}

/* TEAM SECTION */
.team{
    min-width: 100vw;
    min-height: 95vh;
    text-align: center;
    background-color: #222;
}

.team .heading{
    color: #9e9999;
}

.team .heading::before, .team .heading::after{
    border-color: #9e9999;
}

.team .row{
    display: inline-block;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.team .row .card{
    height: 20rem;
    width: 15rem;
    background-color: #fff;
    text-align: center;
    margin: 3rem 3rem;
    position: relative;
    overflow: hidden;
    -webkit-box-reflect: below 5px linear-gradient(transparent 70%, #0004);
    transition: 0.5s;
}

.team .row .card:hover{
    transform: translateY(-10px);
    cursor: pointer;
}


.team .row .card .image{
    margin: 1rem 0;
    padding-top: 1rem;
}

.team .row .card .image img{
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
    border: .5rem solid #fff;
    box-shadow: 0 0 .5rem rgba(0,0,0,.3);
    object-fit: cover;
}

.team .row .card .info h3{
    font-size: 1.2rem;
    color: #333;
}

.team .row .card .info span{
    font-size: 1rem;
    color: #002e5f;
}

.team .row .card .info .icons a{
    margin-top: 1rem;
    padding-top: 0 1rem;
    font-size: 1.1rem;
    color: #333;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.team .row .card .info .icons .fa-facebook-f:hover, .footer .icons .fa-facebook-f:hover{
    color: #2867B2;
    text-decoration: none;
}

.team .row .card .info .icons .fa-twitter:hover, .footer .icons .fa-twitter:hover{
    color: #2867B2;
    text-decoration: none;
}

.team .row .card .info .icons .fa-instagram:hover, .footer .icons .fa-instagram:hover{
    color: #2867B2;
    text-decoration: none;
}

.team .row .card .info .icons .fa-linkedin:hover, .footer .icons .fa-linkedin:hover{
    color: #2867B2;
    text-decoration: none;
}

.team .row .card::before, .team .row .card::after{
    content: '';
    position: absolute;
    border-radius: 50%;
    height: 13.5rem;
    width: 13.5rem;
    z-index: -1;
}

.team .row .card::before{
    background: #002e5f;
    top: -3rem;
    right: -4rem;
}

.team .row .card::after{
    background: #ccc;
    bottom: -3rem;
    left: -4rem;
}

/*FOOTER STYLE*/
.modern-footer{
  background:#184f8a;
  font-family:'Poppins', sans-serif;
  position:relative;
  overflow:hidden;
}

/* Main content */
.footer-content{
  width:85%;
  margin:auto;
  padding:70px 0 100px;
  display:grid;
  grid-template-columns:2fr 1fr 1fr 1fr 1fr;
  gap:50px;
}

/* Brand */
.footer-col.brand h2{
  font-size:26px;
  font-weight:700;
  margin-bottom:15px;
  color: #fff;
}

.footer-col.brand p{
  font-size:14px;
  line-height:1.7;
  color:#fff;
}

/* Headings */
.footer-col h4{
  font-size:16px;
  font-weight:600;
  margin-bottom:18px;
  color:#fff;
}

/* Links */
.footer-col ul{
  list-style:none;
  padding:0;
}

.footer-col ul li{
  margin-bottom:10px;
}

.footer-col ul li a{
  text-decoration:none;
  font-size:14px;
  color:#fff;
  transition:0.3s;
}

.footer-col ul li a:hover{
  color:#001831;
}

/* Social icons */
.social-icons{
  display:flex;
  gap:12px;
}

.social-icons a{
  width:42px;
  height:42px;
  background:#000;
  color:#fff;
  border-radius:50%;
  display:flex;
  align-items:center;
  justify-content:center;
  font-size:16px;
  transition:0.3s;
}

.social-icons a:hover{
  transform:translateY(-5px);
  background:#fff;
  color: #4267B2;
}

/* Curved bottom section */
.footer-bottom{
  background:#001831    ;
  height:90px;
  display:flex;
  align-items:center;
  justify-content:center;
  border-top-left-radius:100% 40px;
  border-top-right-radius:100% 40px;
}

.footer-bottom p{
  color:#fff;
  font-size:14px;
}

/* Responsive */
@media(max-width:992px){
  .footer-content{
    grid-template-columns:1fr 1fr;
  }
}

@media(max-width:576px){
  .footer-content{
    grid-template-columns:1fr;
    text-align:center;
  }

  .social-icons{
    justify-content:center;
  }
}

/* Back to top button */
.back-to-top{
  position: fixed;
  right: 25px;
  bottom: 25px;
  width: 48px;
  height: 48px;
  background: #000;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  text-decoration: none;
  box-shadow: 0 10px 25px rgba(0,0,0,0.25);
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  z-index: 1000;
}

/* Hover */
.back-to-top:hover{
  background: #fff;
  transform: translateY(-6px);
}

/* Show button when scrolling */
.back-to-top.show{
  opacity: 1;
  visibility: visible;
}
